.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.section-title {
  margin-top: 40px;
}
.container > * {
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#form-box {
  font-family: Helvetica;
  font-weight: 400;
}

#form-box > * {
  width: 100%;
}

#password-criteria-p {
  margin-bottom: 0;
}

#password-criteria-list {
  margin: 0;
  padding: 0 0 10px 30px;
  font-size: 0.8rem;
}

#buttons-container {
  text-align: center;
}

#buttons-container button{
  margin-bottom: 1rem;
}

#phone-num-section {
  margin: 20px 0 0 0;
}

#phone-num-section label{
  margin: 0;
  font-size: 12pt;
  color: gray;

}

#phone-num-fields label {
  padding-top: 10px;
}

#disclaimer {
  font-size: 10pt;
}

.phone-field {
  margin: 0 5px;
  font-size: 12pt;
}

.short-field {
  width: 32px;
}

.long-field {
  width: 48px;
}

.first-phone-field {
  margin-left: 0;
}

#phone-num-fields {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  width: 100%;
}

#phone-num-fields .mat-form-field-infix {
  border-top: 0 solid transparent !important;
}

#password-section {
  margin-top: 40px;
}

.password-field {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 50%;
  }

  #form-box > * {
    margin: 0 auto;
  }
}
