<rcc-navigation></rcc-navigation>

<h1 class='page-title'>Manage Users</h1>
<!-- div class="create-button-wrapper" *ngIf="userType === SUPERUSER || userType === ADMIN || userType === DPTHEAD">
  <button id="create-button" class="mat-raised-button mat-primary create-policy" mat-button-ripple (click)="openCreateUserDialog();">Create New User</button>
</div -->

<div class="container center-container">
<table *ngIf="employees.length > 0" mat-table [dataSource]= "employees">
  <!-- Errors seen below are a problem with the IDE, not the code :-) -->
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Employee Name </th>
    <td mat-cell *matCellDef="let user"> {{user.fName + ' ' + user.lName}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email Address </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- Department Column -->
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let user">
      <mat-form-field>
        <mat-select matInput [(ngModel)]=user.department (selectionChange)="updateDepartment(user.department, user.userID)">
          <mat-option *ngFor="let dept of userDepartments" [value]="dept.id">
            {{dept.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- User Type Column -->
  <ng-container matColumnDef="userType">
    <div>
      <th mat-header-cell *matHeaderCellDef> User Role </th>
      <td mat-cell *matCellDef="let user">
        <mat-form-field>
          <mat-select [disabled]="userType !== SUPERUSER" matInput [(ngModel)]=user.userType (selectionChange)="updateUserType(user.userType, user.userID)">
            <mat-option *ngFor="let type of userTypes" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </div>
  </ng-container>

  <!-- Active Toggle Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Active </th>
    <td mat-cell *matCellDef="let user">
      <mat-slide-toggle [checked]="(user.status)" (change)="updateUserStatus(!user.status, user.userID)"></mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
