<rcc-navigation></rcc-navigation>

<div class="container">
  <h1 class="page-title">Send Alerts</h1>
  <br />
  <form (ngSubmit)="sendMsg(alertMessage)" class="send-text-form" id="alert-form" #registrationForm="ngForm">
    <rcc-select-departments></rcc-select-departments>
    <label for="message">Alert Message:</label>
    <textarea class="form-control" rows="10" id="message" name="msg" [(ngModel)]="alertMessage">{{alertMessage}}</textarea>
    <button mat-raised-button id="send-text" color="primary" type="submit">Send Alert</button>
  </form>
</div>

