.container {
  display: flex;
  flex-direction: column;
}
.section-title {
  margin-top: 100px;
}
.container > * {
  margin: 0 auto;
  width: 80%;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
#form-box {
  margin-bottom: 50px;
  font-family: Helvetica;
  font-weight: 300;
}
#form-box > * {
  width: 100%;
}
h6, a {
  text-align: center
}
#register-box {
  margin-top: 40px;
}
#register-box button {
  width: 100%;
}
#invalidCreds{
  color: red;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .container {
    // flex-direction: row;
    width: 60%;
  }

  #form-box > * {
    width: 100%;
  }

  #form-box button {
    width: 200px;
    margin: 0;
    float: left;
  }

  #form-box {
    width: 80%;
    margin-top: 80px;
  }
}
