<h1 class='page-title'>Reset Password</h1>

<form (ngSubmit)="sendEmailForPasswordReset()" #loginForm="ngForm">
<div class="container">
  <div id="form-box">
    <p><small>A temporary password will be sent to the email entered below.</small></p>
    <hr />
    <mat-form-field>
      <input matInput placeholder="Email Address" name="email" [(ngModel)]="email" required>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.form.valid">Request New Password</button>
  <a routerLink="/login">Back to Login</a>
</div>
</form>
